@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


:root{
  --bg-color: #282c34;
  --label-color: rgb(255, 196, 0);
  /* --label-color: #FFFBAC; */
  --menu-bg-color: rgb(253, 235, 175);
  --synth-bg-color: #616368;
  --knob-group-bg-color: var(--synth-bg-color);
  /* --synth-bg-color: var(--bg-color); */
  --border-color: white;
  --knob-color: white;
  --label-text-color: #deb9e0;
  --knob-value-color: #bbaea6;
  background-color: var(--bg-color);
}

.App {
  text-align: center;
  font-family: 'Roboto Mono', sans-serif;
}

.App-header {
  color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  gap: 4vw;
  margin-top: 2.2vh;
  margin-bottom: 4vh;
  transform: translate(12.5%, 0);
}

.synth-wrapper{
  background-color: var(--synth-bg-color);
  padding: 1.3vw;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1vw;
  border: 1px solid var(--border-color);
  border-radius: 20px;
}


.key{
  color: white;
  border-radius: 25%;
  border: 1px solid white;
  height: 4vw;
  width: 4vw;
}

.keyboard{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.row-natural, .row-sharp{
  position: relative;
  display: flex;
  gap: 4px;
}

.row-sharp{
  right: 5%;
}

#natural2{
  left: 14%;
}

#sharp2{
  left: 8%;
}

.blank{
  border: none;
}

.sharp{
  background-color: black;
  color: white;
  position: relative;
  width: 2vw;
  height: 6vw;
  left: 78%;
}

.naturals, .sharps{
  display: flex;
}

.natural{
  border: 1px solid black;
  display: flex;
  height: 10vw;
  width: 4vw;
}

.knob {
  border: 2.5px solid var(--knob-color);
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.knob-handle{
  border: 1px solid var(--knob-color);
  width: .001em;
  height: 48%;
  position: relative;
  transform: translate(-50%, -50%);
  align-self: center;
}

.knob-handle:active{
  border-color: green;
}

.knob-wrapper{
  transform: translate(-50%, -50%);
  transform: rotate(-135deg);



}

.knob-value{
  height: 2vh;
  transform: translate(-50%, -50%);
  width: 1em;
  font-size: .75em;
  align-self: center;
  color: var(--knob-value-color);
  margin-right: .5vw;
}


.knob-wrapper-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.knobs{
  display: flex;
  gap: 2.3vw;
}

.knob-label, .type-label{
  font-size: .7em;
}

.knob-group{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.knob-group-wrapper{
  /* height: 90%; */
  padding-left: 1.3vw;
  padding-right: 1.3vw;
  border: 1.5px solid var(--border-color);
  border-radius: 15px;
  color: var(--label-text-color);
  background-color: var(--knob-group-bg-color);
}

.oscillator{
  grid-column: 1/2;
}

.filter{
  grid-column: 2/3;
}

.envelope{
  grid-column: 3/5;
}

.chorus{
  grid-column: 1/2;
}

.reverb{
  grid-column: 2/3;
}

.vibrato-delay{
  grid-column: 3/4;
}

.delay{
  grid-column: 4/5;
}

.note{grid-column: 1/2;}

.visualizer{
  grid-column: 2/4;
  border: 1.5px solid var(--border-color);
  border-radius: 15px;
}

.settings{
  grid-column: 4/5;
}

.vibrato-delay{
  display: flex;
  gap: 1vw;
}

.selection-type{
  height: 40%;
  font-size: .5em;
}

.selection-image{
  height: 8vw;
  width: 8vw;
  filter: invert(80%) sepia(51%) saturate(1018%) hue-rotate(338deg) brightness(104%) contrast(103%);
}

.knob-group-label{
  color: var(--label-color);
}

option, select{
  font-family: 'Roboto Mono', sans-serif;
  font-weight: bold;
  background: var(--menu-bg-color)
}

.settings{
  display: flex;
  flex-direction: column;
}

.selectors-wrapper{
  display: flex;
  gap: 2vw;
  margin-top: 1vh;
}

.settings-elements-wrapper{
  display: flex;
  flex-direction: column;
  gap: 5vh;
  justify-content: center;
  align-items: center;
}